{% extends "layout.html" %}

{% block title %}
    Add Client Meals
{% endblock %}

{% block main %}
<div class="row justify-content-center mb-3">
    <h2> Generate Meals </h2>
</div>
<div class="row justify-content-center">
    <form action="{{ url_for('addClientMeal') }}" method="post">
        <div class="form-group">
            <label for="clientNumber">Client Number:</label>
            <input autocomplete="off" autofocus class="form-control" name="clientNumber" placeholder="0000" type="number" min=1 step=1>
            <label for="startDate">Start Date:</label>
            <input autocomplete="off" autofocus class="form-control" name="startDate" type="date">
        </div>
        <button class="btn btn-primary btn-block" type="submit">Verify Client Info</button>
    </form>
</div>
{% endblock %}
