{% extends "layout.html" %}

{% block title %}
    Client Info
{% endblock %}

{% block main %}
    <div class="mx-5 my-3">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ clientInfo['LastName'] }}, {{ clientInfo['FirstName'] }}</td>
                </tr>
                <tr>
                    <th>Client #</th>
                    <td>{{ clientInfo['ClientNumber'] }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ clientInfo['Status'] }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ clientInfo['Address'] }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ clientInfo['Phone'] }}</td>
                </tr>
                <tr>
                    <th>Birthdate</th>
                    <td>{{ clientInfo['Birthdate'] }}</td>
                </tr>
                <tr>
                    <th>Diet</th>
                    <td>{{ clientInfo['Diet'] }}</td>
                </tr>
                <tr>
                    <th>Delivery Instructions</th>
                    <td>{{ clientInfo['deliveryInstructions'] }}</td>
                </tr>
                <tr>
                    <th>Kitchen Instructions</th>
                    <td>{{ clientInfo['Preferences'] }}</td>
                </tr>
            </tbody>
        </table>    
    </div>
{% endblock %}
