{% extends "layout.html" %}

{% block title %}
    Client Info
{% endblock %}

{% block main %}
    <div class="mx-5 my-3">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>Flintstone, Fred</td>
                </tr>
                <tr>
                    <th>Client #</th>
                    <td>123</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>345 Cave Stone Road</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>555-555-0001</td>
                </tr>
                <tr>
                    <th>Diet</th>
                    <td>DIAB</td>
                </tr>
                <tr>
                    <th>Delivery Instructions</th>
                    <td>Dog is very friendly</td>
                </tr>
                <tr>
                    <th>Kitchen Instructions</th>
                    <td>LARGE PROTEIN PORTION, NO ORANGE JUICE</td>
                </tr>
            </tbody>
        </table>    
    </div>
{% endblock %}
