.sidenav {
    height: 100%;
    width: 15%;
    position: absolute;
    background-color: rgb(38, 41, 96);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(221, 212, 170);
    display: block;
    transition: 0.3s;
}


#rightMain {
    margin-left: 15%;
}

/* https://www.w3schools.com/howto/howto_css_button_on_image.asp */
.myHeader {
    position: relative;
}

.myHeader img {
    width: 100%;
    height: auto;
}

.myHeader .menuButton {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgb(38, 41, 96);
    width: 10%;
    height: 80%;
    font-size: xx-large;
    border: none;
}